﻿.indicator-container {
    display: inline-block;
    position: relative;
    width: 158px;
    height: 600px;
    margin-top: 42px;
    cursor: pointer;
    outline: none;
}

.oil-tank-container {
    position: relative;
    top: 68px;
    width: 158px;
}

.oil-tank-base {
    background-image: url('/assets/images/oil-tank-base.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    width: 158px;
    height: 489px;
    position: relative;
}

.oil-tank-ribs {
    background-image: url('/assets/images/oil-tank-ribs.svg');
    background-repeat: no-repeat;
    width: 158px;
    height: 489px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.oil-tank-liquid-container {
    position: absolute;
    bottom: 80px;
    top: 10px;
    left: 10%;
    right: 11%;
}

.oil-tank-liquid {
    position: absolute;
    bottom: 0;
    background: #4cff00;
    opacity: 0.5;
    width: 100%;
    height: 200px;
}

.indicator-name {
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    right: 0;
    height: 42px;
    overflow: hidden;
}

.indicator-level {
    position: absolute;
    top: 42px;
    text-align: center;
    left: 0;
    right: 0;
}

.indicator-level-alert {
    border-bottom: solid 3px #B71C1C;
}

.indicator-level-normal {
    border-bottom: solid 3px #66BB6A;
}

.indicator-value-name {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 0;
    right: 0;
}

.indicator-value {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
}

.indicator-header {
    position: absolute;
    left: 0;
    right: 0;
    height: 200px;
}

.indicator-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
