﻿<div class="indicator-container">
    <div class="indicator-header">
        <div class="indicator-name">{{indicator.name}}</div>
        <div class="indicator-level"><span [className]="indicator.alert?'indicator-level-alert':'indicator-level-normal'">{{indicator.level | number: '1.1-1'}}%</span></div>
    </div>
    <div class="oil-tank-container">
        <div class="oil-tank-base"></div>
        <div class="oil-tank-liquid-container">
            <div class="oil-tank-liquid" [style.height.%]="indicator.level"></div>
        </div>
        <div class="oil-tank-ribs"></div>
    </div>
    <div class="indicator-footer">
        <div class="indicator-value-name">{{indicator.description}}</div>
        <div class="indicator-value"><span [className]="indicator.alert?'indicator-level-alert':'indicator-level-normal'">{{indicator.value}}</span></div>
    </div>
</div>
