﻿<div class="container">
    <h1>About</h1>
    <div>
        Source code:
        <div>
            <a href="https://bardushk@bitbucket.org/bardushk/oil" target="_blank">
                https://bardushk@bitbucket.org/bardushk/oil
            </a>
        </div>
    </div>
    <div>
        Description:
        <div>
            <a href="https://docs.google.com/document/d/1Twxsg3THuG9jKOtwUKfMrGvKPCSQXqtSP8DDjZbAQf8/edit?usp=sharing" target="_blank">
                https://docs.google.com/document/d/1Twxsg3THuG9jKOtwUKfMrGvKPCSQXqtSP8DDjZbAQf8/edit?usp=sharing
            </a>
        </div>
    </div>
</div>
