<header>
    <button class="home-link" routerLink="/home">
        <i class="material-icons">home</i>
        <span>home</span>
    </button> 
    <button (click)="onEditModeClick()" class="edit-mode-button">
        <i class="material-icons" *ngIf="editMode">check_box</i>
        <i class="material-icons" *ngIf="!editMode">check_box_outline_blank</i>
        <span>edit mode</span>
    </button>
</header>
<content class="container">
    <router-outlet></router-outlet>
</content>
<footer>
    <button class="about-link" routerLink="/about">
        <i class="material-icons">help</i>
        <span>About</span>
    </button>
</footer>
<div class="loader-container" [hidden]="!waiting">
    <div class="loader"></div>
</div>
