* {
    padding: 0;
    margin: 0;
}
.container {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    bottom: 42px;
    background: #333;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 42px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 42px;
    padding-left: 30px;
}
footer p a, footer p a:visited {
    color: #fff;
    font-weight: 100;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.edit-mode-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    display: inline-block;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 3px 30px 3px 10px;
    background: none;
    outline: none;
}
.about-link {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    display: inline-block;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 3px 30px 3px 10px;
    background: none;
    outline: none;
}
.home-link {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
    padding: 3px 20px;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 14px;
}
.home-link i {
    display: inline-block;
    vertical-align: middle;
}

.home-link span {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 16px;
}
.about-link i {
    display: inline-block;
    vertical-align: middle;
}

.about-link span {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 16px;
}

.edit-mode-button i {
    display: inline-block;
    vertical-align: middle;
}
.edit-mode-button span {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
}
.loader-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
}

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 200px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .loader:before,
    .loader:after {
        position: absolute;
        top: 0;
        content: '';
    }

    .loader:before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loader:after {
        left: 1.5em;
    }

@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

