﻿<div class="details-container">
    <div class="details-indicator">
        <oil-indicator [indicator]="indicator"></oil-indicator>
    </div>
    <div class="details-form">
        <div class="details-info" *ngIf="!editMode">
            <div class="info-row">
                <div class="info-label">Name</div>
                <div class="info-value">{{indicator.name}}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Value</div>
                <div class="info-value">{{indicator.value}}</div>
            </div>
            <div class="info-row">
                <div class="info-label">MinValue</div>
                <div class="info-value">{{indicator.minValue}}</div>
            </div>
            <div class="info-row">
                <div class="info-label">MaxValue</div>
                <div class="info-value">{{indicator.maxValue}}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Description</div>
                <div class="info-value">{{indicator.description}}</div>
            </div>
        </div>
        <form (ngSubmit)="onSubmit(itemForm.value)" #itemForm="ngForm" *ngIf="editMode" novalidate>
            <div class="input-container" [ngClass]="{'has-error': !validatorService.checkName(indicator.name)}">
                <label class="detail-label" for="name">
                    Name*
                </label>
                <input [(ngModel)]="indicator.name" id="name" placeholder="indicator name" name="name" />
                <div *ngIf="!validatorService.checkName(indicator.name)" class="error-message">
                    Name is required
                </div>
            </div>
            <div class="input-container" [ngClass]="{'has-error': !validatorService.checkValue(indicator.value)}">
                <label class="detail-label">
                    Value
                </label>
                <input [(ngModel)]="indicator.value" type="number" (input)="onChange()" placeholder="0" name="value" />
            </div>
            <div class="input-container">
                <label class="detail-label">
                    MinValue
                </label>
                <input [(ngModel)]="indicator.minValue" type="number" (input)="onChange()" placeholder="0" name="minValue" />
            </div>
            <div class="input-container">
                <label class="detail-label">
                    maxValue
                </label>
                <input [(ngModel)]="indicator.maxValue" type="number" (input)="onChange()" placeholder="100" name="maxValue" />
            </div>
            <div class="input-container">
                <label class="detail-label">
                    description
                </label>
                <input [(ngModel)]="indicator.description" placeholder="description" name="description" />
            </div>
            <div class="cancel-button-container" *ngIf="editMode">
                <a class="cancel-button" routerLink="/">CANCEL</a>
            </div>
            <div class="save-button-container" *ngIf="editMode">
                <button class="save-button">SAVE</button>
            </div>
        </form>
    </div>
    <div class="loader-container">
        <div class="loader"></div>
    </div>
</div>
