﻿:host {
    display: block;
}

.details-container {
    width: 480px;
    margin: 0 auto;
}
.details-form {
    padding-left: 20px;
    padding-top: 114px;
    width: 296px;
    display: inline-block;
    vertical-align: top;
}

.details-indicator {
    width: 158px;
    display: inline-block;
    vertical-align: top;
}

input {
    background: none;
    border: none;
    padding-top: 2px;
    padding-bottom: 3px;
    font-size: 18px;
    outline: none;
    margin-bottom: 20px;
    color: #fff;
    width: 100%;
    border-bottom: solid 1px #999;
}

.has-error > input {
    border-bottom: solid 1px #BF360C;
} 

.save-button-container {
    text-align: right;
}

.save-button {
    display: inline-block;
    border: none;
    padding: 10px 40px;
    outline: none;
    background: #2962FF;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: normal;
}

.cancel-button {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
    font-size: 18px;
    padding: 8px 0;
}

.save-button:hover {
    background: #82B1FF;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.info-row {
    padding: 0 0 10px 0;
}
.info-label {
    opacity: 0.75;
    font-weight: normal;
}
.info-value {

}
.detail-label {
    opacity: 0.75;
}
.error-message {
    position: absolute;
    bottom: 0;
    font-weight: normal;

}

.has-error {
    color: #BF360C;
}
