<div class="indicator-list-container">
    <div class="indicator-container" *ngFor="let indicator of indicatorList">
        <button title="delete" 
                class="indicator-delete-button"
                *ngIf="editMode"
                (click)="onDeleteClick(indicator.id)">
            <i class="material-icons">clear</i>
        </button>
        <oil-indicator [indicator]="indicator" routerLink="/detail/{{indicator.id}}"></oil-indicator>
    </div>
    <button 
            *ngIf="editMode"
            class="add-button" 
            routerLink="/detail/new">
        <i class="material-icons md-48">add_circle_outline</i>
    </button>
</div>
