﻿:host {
    display: block;
}

.indicator-list-container {
    text-align: center;
}

.indicator-container {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    outline: none;
}

.add-button {
    display: inline-block;
    vertical-align: top;
    width: 158px;
    height: 489px;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    margin: 110px 20px 0 20px;
    background: url('~/assets/images/oil-tank-silueth.svg');
    color: #000;
    font-size: 24px;
    outline: none;
}
.indicator-delete-button {
    position: absolute;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    right: 0;
    top: 0;
    background: none;
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.indicator-delete-button:hover {
    background: #F44336
}
.indicator-edit-button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    color: #fff;
    outline: none;
    padding: 10px 20px;
    background: #0D47A1;
    cursor: pointer;
}
.indicator-edit-button:hover {
    background: #42A5F5;
}

.add-button:hover {
        opacity: 1;
    }

.details-indicator {
    display: inline-block;
    width: 200px;
}

